.Rproj.user
.Rhistory
.RData
.Ruserdata
Chains.Rproj
Cadigan2015.pdf
Cadigan 2015.xmind
Chains.aux
Chains.bbl
Chains.bcf
Chains.blg
Chains.fff
Chains.ttt
Chains.log
Chains.out
Chains.pdf
Chains.prj
Chains.prj.bak
Chains.run.xml
Chains.synctex
Chains.tex
Chains2.aux
Chains2.bbl
Chains2.bcf
Chains2.blg
Chains2.fff
Chains2.ttt
Chains2.log
Chains2.out
Chains2.run.xml
Chains2.synctex
Chuang2003.pdf
*.pdf
*.xmind
Chains2.nb.html
ChainsAnalysis20170124.html
ChainsAnalysis20170124.nb.html
ChainsAnalysis20170124.pdf
Christensen 2004.xmind
Christensen-2004.pdf
Farsi 2004.xmind
Farsi2004.pdf
Harrington 2001.xmind
Harrington.pdf
Harrington2015.pdf
Hoess 2009.xmind
Hoess2009.pdf
Hsu2015.pdf
Kamimura 2007.xmind
Kamimura2007.pdf
Kitchener 2008.xmind
Kitchener.pdf
Knox 2007.xmind
Knox2007.pdf
McKay 1992.xmind
McKay1992.pdf
Meiners1982.pdf
Nyman 1990.xmind
Pradhan2014.pdf
README.html